footer {
  position: fixed;
  right: 2%;
  top: 94%;
  color: rgba(255,255,255,.6);
  text-align: center;
  button{
    color: rgba(0,255,255,.8);
    background: none;
    border:none;
    &:focus{
      outline: none;
    }
    &:hover {
      color: rgba(0,255,255,1);
      cursor: pointer;
    }
  }
  #copyright {
    display: none;
    color: #00ffff;
    font-size: 12px;
    position: absolute;
    width: 400px;
    top: 0;
    right: 30px;
    padding: 4px 10px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
  }
}
